<%- contentFor('hero') %>
<% if (post['_embedded']['wp:featuredmedia']) { %>
<div class="hero" style="background-image: url(<%- post['_embedded']['wp:featuredmedia'][0].source_url %>)">
	<% } else { %>
	<div class="hero themed">
<% } %>

		<div class="inner">
			<div class="content">
				<h1 class="central-column"><%- post.title.rendered %></h1>
			</div>
		</div>
	</div>

	<%- contentFor('body') %>
		<article class="page central-column">
			<div class="inner">
				<%- post.content.rendered %>
			</div>
		</article>
